@tailwind base;
@tailwind components;
@tailwind utilities;

/* Đảm bảo rằng phần tiêu đề và cột cố định luôn hiển thị chính xác */
.sticky {
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;
  }
  
  /* Đảm bảo rằng phần tử cố định có nền trắng để không bị che khuất */
  .sticky.bg-white {
    background-color: white;
  }
  